Experiment 8

Aim: To study For Loop in Python

Name: Shravya Srivastava

PRN: 25070123106

In [ ]:
#for loop syntax:
for variable in sequence:
  statement(s)

In [ ]:
#Print numners from 1 to 5
#Format of range command : range(start,stop,incrementation)
for i in range(1,6): #for loops dont need initialization or incrementations
#doesnt accecpt last
  print(i)

1
2
3
4
5

In [ ]:
#prind odd numbers between 1 to 10:
for i in range(1,11,2): #11 cause till 10
  print(i)

1
3
5
7
9

In [ ]:
#Sum of first n number
n=int(input("enter n:"))
total =0
for i in range(1,n+1):
  total +=i
print("sum=",total)

enter n:4
sum= 10

In [ ]:
#display a 3x3 matrix
#2d data, ie image
a=[[1,2,3], #nested lists:list of lists can be written in one line too
   [4,5,6],
   [7,8,9]]
for i in range(3):
  for j in range(3):  #nested loops
      print(a[i][j], end=" ")
  print()    # will print in next line # or use m2 in qu below

1 2 3
4 5 6
7 8 9

In [ ]:
#Matrix multiplication using python
A=[[1,2,3],[4,5,6],[1,2,1]]
B=[[1,1,1],[6,5,4],[3,2,1]]
R=[[0,0,0],[0,0,0],[0,0,0]] #0 bc we are intializing
#initial condition m=n
for i in range(3): #rows of a
  for j in range(3): #columns of b
     for k in range(3):
       R[i][j] +=A[i][k]*B[k][j]  # first element number is a[i][j] second element is b[k][j] vey tricky loop
#print matrix format
for row in R: # in range
  print(row)

[22, 17, 12]
[52, 41, 30]
[16, 13, 10]

In [ ]:
#print all prime numbers in range
for num in range(2,50):
  for i in range(2,num):
    if num%i==0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [ ]:
#print right angled triangle:
for i in range(10,0,-1):
  print("* " *i)

* * * * * * * * * *
* * * * * * * * *
* * * * * * * *
* * * * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [ ]:
#print pyramid of stars
row=5
for i in range(1,row + 1):
  print(" " * (row - i) + "* " *i)

    *
   * *
  * * *
 * * * *
* * * * *